{% extends 'base.html' %}

{% block content %}
   <!--  <h1>Bienvenido al Sistema Retail</h1> -->
   <div class="container mt-4">
    <div class="row">
        <!-- Cubo 1 -->
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">12.565</p>
                </div>
            </div>
        </div>
        
        <!-- Cubo 2 -->
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Ventas Mensuales</h5>
                    <p class="card-text">$ 152.522.222</p>
                </div>
            </div>
        </div>

        <!-- Cubo 3 -->
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Utilidades</h5>
                    <p class="card-text">10%</p>
                </div>
            </div>
        </div>

        <!-- Cubo 4 -->
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Cartera</h5>
                    <p class="card-text">$ 50.000.000</p>
                </div>
            </div>
        </div>
    </div>
</div>

  
{% endblock %}
